<%- include('../header') -%>

    <link rel="stylesheet" href="css/resconf.css">
      

    <div class="container">
        <div class = "indexinfo">
            <h1 id="header"> You have chosen to reserve </h1>
            <br>
            <p id="info"> INFO HERE </p>
            
        <button onclick="goBack()">Go Back</button>
        <!-- submit button -->
            <input type="submit" value="Confirm">
            
        <form action="/confirmed" method="post">

        </div>
        <!-- confirm button -->

            <!-- add method= POST  later--> 
        <!-- add a GO BACK button linked to /reservation -->


<script>
    function goBack() {
        window.history.back();
    }

    
</script>


        </form>

<%- include('../footer') -%>


       