<%- include('../header') -%>

    <link rel="stylesheet" href="css/resconf.css">
      

    <div class="container">
        <div class = "indexinfo">
            <h1 id="header"> You have chosen to reserve </h1>
            <br>
            <p id="info"> INFO HERE </p>
            
            <button type="button" id="go-back" onclick="goBack()">Go Back</button>
        
            <button type="submit" id="confirm-btn" onclick="confirmReservation()">Confirm</button>

        </div>

<script>
    // go back to previous page
    function goBack() 
    {
        window.history.back();
    }  

    // pop up that reservation is confirmed
    function confirmReservation() 
    {
        alert("Your reservation has been confirmed!");
        window.location.href = "/home"; //goes back to homepage
    }

</script>

<%- include('../footer') -%>


       