body{
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

.login { 
    flex: 4;
    padding: 120px;
    font-size: 20px;
    background-color: #F4F3EE;
    box-sizing: border-box;
    margin-top: 0%;
}

.indexinfo {
    flex: 6;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    text-align: justify;
    background-color: #36454F;
    color: white;
    padding-top: 10%;
    box-sizing: border-box;
    margin-top: 0%;

}

#rememberme, #registertext{
    font-size: 13px;
}

h1 {
    font-size: large;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: large;
}

/* Add this CSS to style the form elements */
form {
    display: flex;
    flex-direction: column;
}

/* Adjust the submit button styling if needed */
input[type="submit"] {
    cursor: pointer;
    background-color: #36454F;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
}



#userpng, #passpng{
    width:18px;
    height:18px;
    /* add space */
    margin-top: 9px;
}