<!-- about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section class="member">
            <div class="member-info">
                <h2>Christina Sijera</h2>
                <p>Contributions:
                    <ul>
                        <li>Frontend Development</li>
                        <li>Database Management</li>
                        <li>Backend Development</li>
                            <ul>
                                <li>API Development</li>
                                 <li>Log-In Sessions</li>
                                <li>Creating Reservations</li>
                                <li>Registering Users</li>
                                <li>Viewing Reservations for Students </li>
                                <li>Update Reservations</li>
                                <li>Deleting Reservations</li>
                                <li>Delete Users</li>
                                <li>Update/Edit Profile</li>
                            </ul>
                    </ul>
                </p>
            </div>
        </section>
        <section class="member">
            <div class="member-info">
                <h2>Nicole Buere</h2>
                <p>Contributions:
                    <ul>
                        <li>Main Frontend Developer</li>
                            <ul>
                                <li>CSS Adjustments</li>
                                <li>EJS Adjustments</li>

                            </ul>
                        <li>Backend Development</li>
                            <ul>
                                <li>"Reserve For" Reservation</li>
                                <li>Reservation Pop Up Availability</li>
                            </ul>
                    </ul>
                </p>
            </div>
        </section>
        <section class="member">
            <div class="member-info">
                <h2>Julianne Wong</h2>
                <p>Contributions:
                    <ul>
                        <li>Frontend Development</li>
                        <li>Backend Development</li>
                            <ul>
                                <li>Logout</li>
                                <li>Password Hashing</li>
                                <li>View Reservation for Admin</li>
                                <li>View Other User Profile</li>
                                <li>Added Anonymous to Reservation DB</li>
                            </ul>
                    </ul>
                </p>
            </div>
        </section>
        <section class="npm-modules">
            <h2>NPM Modules Used:</h2>
            <ul>
                <li>bcrypt</li>
                <li>body-parser</li>
                <li>cors</li>
                <li>dotenv</li>
                <li>ejs</li>
                <li>express</li>
                <li>express-handlebars</li>
                <li>express-session</li>
                <li>handlebars</li>
                <li>hbs</li>
                <li>mongodb</li>
                <li>mongoose</li>
                <li>nodemon</li>
                <li>path</li>
                <li>uuid</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Labyrinth Team</p>
    </footer>
</body>
</html>
