<%- include('header') -%>
<%- include('sidebar') -%>

<h2>hello</h2>

<!-- need current reservations, description -->
<!-- need to add a button to edit profile -->
<!-- need to add a button to change password -->
<!-- need to add a button to delete account -->
<!-- need to add a button to logout -->
<!-- need to add a button to go back to homepage -->

<%- include('footer') -%>