<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for student's sidebar -->
    <link rel="stylesheet" href="css/sidebar.css">

    <!-- for admin's sidebar -->
    <link rel="stylesheet" href="css/sidebar-admin.css">

    <link rel="stylesheet" href="css/colors.css">
    <title><%= title %></title>
</head>
<body>