{{!-- this is selectlabs.ejs ver--}}
{{!-- after logging i the user will be redirected to this --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/sidebar-admin.css">
    <link rel="stylesheet" href="css/colors.css">
    <script src="js/labSelection.js"></script>
    <title>{{title}}</title>
</head>

{{#if isStudent}}
{{!-- student sidebar --}}
<aside class="Sidebar">
    <div class="image-container">
      <img src="assets/jeongwoo.jpg" alt="userpfp" id="userpfp">
      <br>
      <br>
    </div>
  
    <ul class="sidebar-links">
      <li>
        <br><br>
        <a href="/home">Reserve</a>
      </li>
      <li>
        <br><br>
        <a href="/reserve">My Reservations</a>
      </li>
      <li>
        <br><br>
        <a href="/profile" id="profile">My Profile</a>
      </li>
      <li>
        <br><br><br>
        <a href="/" id="logout">Logout</a>
      </li>
    </ul>
</aside>

{{else}}
{{!-- admin's sidebar --}}
<aside class="sidebar-admin">

    <div class="image-container">
      <img src="assets/jeongwoo.jpg" alt="userpfp" id="userpfp">
      <br>
      <br>
    </div>
  
    <ul class="sidebar-links">
      <li>
        <br><br>
        <a href="/home">Reserve</a>
      </li>
      <li>
        <br><br>
        <a href="/reserve">View Reservations</a>
      </li>
      <li>
        <br><br>
        <a href="/profile" id="profile">My Profile</a>
      </li>
      <li>
        <br><br><br>
        <a href="/" id="logout">Logout</a>
      </li>
    </ul>
</aside>
{{/if}}

<body>

<link rel="stylesheet" href="css/selectlabs.css">

<div class="content-block">

    <div class="greeting">
        <h2> Hello, {{username}} </h2>
    </div>

    <div class = "instruction">
        <h3>Please select a computer lab</h3>
    </div>

    <div class="container">

        <!-- container for lab a -->
        <div class="lab-a" id="lab-a">
            <div class="lab-name">LABORATORY A</div>
            <img class = "icon" src="assets/lab_icon.png" alt="lab-icon-a" id="lab-icon-a">
            <div class="lab-desc">
                capacity: 18 seats <br>
                location: 2nd floor
            </div>
            <!-- when clicked redirected to reservation of seats page (can change /reservation) -->
            <form action="/reservation/A" method="post">
                <input type="submit" value="See Availability" id="1" class="see-avail">
            </form>
        </div> 

        <!-- container for lab b -->
        <div class="lab-b" id="lab-b">
            <div class="lab-name">LABORATORY B</div>
            <img class = "icon" src="assets/lab_icon.png" alt="lab-icon-b" id="lab-icon-b">
            <div class="lab-desc">
                capacity: 18 seats <br>
                location: 3rd floor
            </div>
            <form action="/reservation/B" method="post">
                <input type="submit" value="See Availability" id="2" class="see-avail">
            </form>
        </div>

        <!-- container for lab c -->
        <div class="lab-c" id="lab-c">
            <div class="lab-name">LABORATORY C</div>
            <img class = "icon" src="assets/lab_icon.png" alt="lab-icon-b" id="lab-icon-b">
            <div class="lab-desc">
                capacity: 18 seats <br>
                location: 4th floor
            </div>
            <form action="/reservation/C" method="post">
                <input type="submit" value="See Availability" id="3" class="see-avail">
            </form>
        </div>

    </div>
</div>

<script>
</script>
 
</body>
</html>
