<%- include('header') -%>

    <link rel="stylesheet" href="css/index.css">
        <!-- gray : 8c92ac  purple :49416D    green: A1CCA5   -->
    <div class="container">
        <div class = "indexinfo">
            <h1 id="header"> Welcome to Labyrinth! </h1>
            <p id="info"> Manage your lab reservations and streamline your workflow. Reserve your lab space effortlessly with Laborat, where efficiency meets convenience. </p>

        </div>

        <form action="/home" method="post">
            <!-- add method= POST  later--> 
            
            <div class="login">
                <h1 id="loginheader">USER LOGIN</h1>
                    <img src="assets/username.png" id="userpng">
                    <input type="text" name="username" id="username" placeholder="Enter your username">
                    <br>
                

                    <img src="assets/password.png" id="passpng">
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                    <br>
                    <label id ="rememberme">
                        <input type="checkbox" name="remember" id="remember"> Remember Me
                    </label>
                    <br>
                    
            
                    <input type="submit" value="Login">
                    <p id="registertext">Don't have an account? <a href="register.html">Register</a></p>
            </div>



        </form>

<%- include('footer') -%>


       