<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/register.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="register-info">                
        <h1>Register an Account  </h1>
        Name: <input type="text" name="name"><br>
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>
        Confirm Password: <input type="password" name="confirmPassword"><br>
        Username: <input type="text" name="username"><br>
        Role: <select name="role" value="role">
           <option value="admin">Admin</option>
            <option value="student">Student</option>
        </select> <br>
        <input type="submit" value="Submit">
        <p>Already have an account? <a href="/">Login</a></p>

    </div>
</body>
</html>       