<%- include('header') -%>

    <link rel="stylesheet" href="css/register.css">
    <script src="js/index.js"></script>
        <!-- gray : 8c92ac  purple :49416D    green: A1CCA5   -->
    <div class="container">
        <div class="register-info">
            <form action="register-account">
                Name: <input type="text" name="name"><br>
                Email: <input type="text" name="email"><br>
                Password: <input type="password" name="password"><br>
                Confirm Password: <input type="password" name="confirmPassword"><br>
                Username: <input type="text" name="username"><br>
                <input type="submit" value="Submit">

        </div>
        </form>

    </div>

<%- include('footer') -%>


       