@import url('https://fonts.googleapis.com/css?family=Lexend Deca');
@import url('https://fonts.googleapis.com/css?family=Inter');

.notSidebar {
    flex: 1;
}

body {
    flex: 1;
    background-color: var(--three);
    height: 100vh;
    margin:0;
    min-width: 1250px;
}

.greeting-profile {
    font-family: 'Lexend Deca';
    position: fixed;
    color: var(--one);
    font-size: 20px;
    padding-left: 90px;
    padding-top: 100px;
}


.info{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    position: fixed; 
    padding-left: 90px;
    padding-top: 200px;
    overflow: hidden;
    width: 760px;
    height: 800px;
}

.text{
    color: var(--one);
}

.image-container-profile {
    border: 1px solid var(--two,0,0,0.5);
    position: fixed;
    top: 90px; /* Align the container to the top of the viewport */
    right: 65px; /* Align the container to the right of the viewport */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.image-container-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This property ensures the image covers the entire container */
  }


  @media (max-width: 1400px) {
    body {
        min-width: 1400px;
    }

    .greeting-profile {
        padding-left: 20px; /* Adjust the left padding for smaller screens */
    }

    .info {
        padding-left: 20px; /* Adjust the left padding for smaller screens */
        padding-top: 70px; /* Adjust the top padding for smaller screens */
    }

    .image-container-profile,
    .profile-buttons {
        display: none; /* Hide the profile picture on smaller screens */
    }
}

#descriptionInput {
    width: 600px; 
    height: 70px; 
    font-size: 14px;
    padding-left: 10px;
    border: 2px solid var(--one);
    border-radius: 5px;
}

/* highlights the selected input form */
input[type=text]:focus {
    background-color: #cfc6e8;
}

.upload-form{
    width: fit-content;
    height: fit-content;
    margin-top: 370px;
    margin-left: 950px;
}

#pictureURLInput {
    color: black;
    height: fit-content; 
    font-size: 14px; 
    border: 2px solid var(--one);
    border-radius: 5px;
}

.profile-buttons {
    position: fixed;
    top: 0;
    right: 105px;
    margin-top: 430px; /* Adjust as needed */

}

.profile-buttons button {
    display: block;
    margin-bottom: 15px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--one);
    color: var(--three);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 170px; /* Set a fixed width for all buttons */

}

.profile-buttons button:hover {
    background-color: var(--two);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; /* Adjust as needed */
}


.input-container {
    margin-top: 25px; /* Adjust as needed */
    margin-bottom: 15px; /* Increase margin to add more space between input fields */
}

