@import url('https://fonts.googleapis.com/css?family=Lexend Deca');
@import url('https://fonts.googleapis.com/css?family=Inter');

body{
    display: flex;
    justify-content: center;
    flex-direction:column;
    background: linear-gradient(to left, var(--one), var(--two), var(--three));
}

.container{
    background-color: var(--two);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 700px;
    height: 500px; 
    margin-left: 400px;
    margin-top: 90px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* "Register an account" */
.title{
    justify-content: center;
    font-family: 'Lexend Deca';
    color: var(--three);
}

/* name, email, etc... */
.register-info {    
    width:400px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 200;
    color: var(--three);
}

input[type="submit"] {
    cursor: pointer;
    background-color: var(--one);
    color: var(--three);
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    width: 90px;
    border-radius: 5px;
    margin-top: 30px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
}
