

body{
    display: flex; /* Center vertically */
    margin: 0;
    min-height: 100vh;

    /* Gradient background --one,--two --four left to right*/
    background: linear-gradient(to left, var(--one), var(--two), var(--four));

    font-family: 'Times New Roman', Times, serif;
    
    
    
}

.container {
    display: flex;
    /* height: 100vh; */
    height: 90%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.indexinfo {
    flex: 6;
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    text-align: justify;
    background-color: var(--two);
    color: white;
    margin-top: 0%;

}

#rememberme, #registertext{
    font-size: 13px;
}

h1 {
    font-size: large;
}



body {
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: large;
}


/* Adjust the submit button styling if needed */
input[type="submit"] {
    cursor: pointer;
    background-color: var(--one);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
}


