@import url('https://fonts.googleapis.com/css?family=Lexend Deca');
@import url('https://fonts.googleapis.com/css?family=Inter');


.notSidebar {
    flex: 1;
    width:1000px;
    padding-top: 40px;
    margin-left:70px;
    padding-right: 50px;
    align-items: center;
}

.greeting {
    color: var(--one);
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: 'Lexend Deca';
}

.instruction{
    color: var(--one);
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: 'Inter';
}

/* contains all, time and date drop down, seats, legends */
.elements-container{
    border: solid;
    border: 2px solid rgba(51, 33, 74, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 830px;
    height: 400px;
}

/* contains date and time drop down, reserve button */
.left-panel{
    border-style: none solid none none;
    border-color: rgba(51, 33, 74, 0.5);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 210px;
}

.date-time{
    font-size: 14px;
    font-family: 'Inter';
    margin-top: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.anon-checkbox{
    font-size: 14px;
    font-family: 'Inter';
    margin-top: 20px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

#reserve-button {
    cursor: pointer;
    background-color: var(--one);
    color: var(--three);
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    padding: 6px 12px; 
    display: inline-block;
    text-align: center; 
    width:85px;
    margin-top: 50px; 
   
}

/* background color changes on hover */
#reserve-button:hover {
    background-color: var(--two); 
}

.legend{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin-left: 45px;
}

.legend-icons{
    display: flex;
    justify-content: space-around;
    width: 400px;
    flex-direction: row;
}

.available{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.taken{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label{
    font-family:'Inter';
    color: var(--one);
}

/* contains Legend and all seats */
.right-panel{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-left: 30px;
    margin-top: 30px;
}

.seats-container
{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: 30px;
    margin-top: 10px;
}


form 
{
    height: 55%;
}

.taken-popup {
    position: absolute;
    background-color: var(--three);
    border: 1px solid var(--six);
    border-radius: 5px;
    padding: 10px;
    display: none;
    font-family: 'Inter';
    color: var(--one);
}

.res-info{
    font-family: 'Inter';
    color: var(--one);
}

.container-a{
    display: flex;
    
}
.container-a,
.container-b {
    display: inline-block;
    margin-right: 80px;
}

.container-b {
    margin-right: 0;
 
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.seat {
    cursor: pointer;
}

.seat-area {
    /* Set seat-item 3 x 3 */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.name-box{
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Inter';
}

#reserveFor {
    font-size: 14px;
    font-family: 'Inter';
    width: 190px;
}