
.notSidebar {
    flex: 1;
}

table {
    width: 100%; /* Adjust the width as needed */
    max-width: 800px; /* Optionally, set a maximum width */
    height: 80%; /* Adjust the height as needed */
    border-collapse: collapse;
    /* add shadow */
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    padding-bottom: 90px;
    margin-bottom: 40px;
}

.greeting {
    color: var(--one);
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 90px;
}

body {
    background-color: var(--five);
    height: 100vh;
}


#reservebutton{
    cursor: pointer;
    background-color: var(--one);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 680px;
    margin-right: 10px;
    
    /* move the button upwards */
    margin-top: -40px;

    /* make the button bigger */
    padding: 15px 20px;
}