@import url('https://fonts.googleapis.com/css?family=Lexend Deca');
@import url('https://fonts.googleapis.com/css?family=Inter');

.content-block 
{ 
    flex: 1;
    background-color: var(--three);
    width: 1395px;
    padding-top: 40px;
}

/*hello, <user>*/
.greeting 
{ 
    font-family: 'Lexend Deca';
    color: var(--one);
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 90px;

}

/*select labs..*/
.instruction 
{ 
    font-family: 'Inter';
    color: var(--one);
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 90px;
}

/* container for labs (lab a,b,c) */
.container
{
    display: flex;
    margin-left: 20px;
    height: 600px; 
    width:1190px;
    flex-direction: row;
    justify-content: center;
}

/* container for lab a elements */
.lab-a
{
    display: flex;
    border: solid;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 450px; 
    width:300px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
}

/* container for lab a elements */
.lab-b
{
    display: flex;
    border: solid;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    height: 450px; 
    width:300px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
}

/* container for lab c elements */
.lab-c
{
    display: flex;
    border: solid;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    height: 450px; 
    width:300px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
}

/* lab name format */
.lab-name
{
    font-family: 'Lexend Deca';
    color: var(--one);
    font-size: 20px;
    margin-left: 60px;
    font-weight: 700;
}

/* icon for lab format */
.icon
{
    height: 200px; 
    width:200px;
    margin-left: 40px;
}

/* location and capacity of lab */
.lab-desc
{
    font-family: 'Inter';
    color: var(--one);
    font-size: 16px;
    font-weight: 600;
    padding-left: 80px;
    line-height: 1.5;
}

/* button format */
#see-avail
{
    cursor: pointer;
    background-color: var(--one);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16.5px;
    border-radius: 5px;
    margin-left: 75px;
    margin-bottom: 10px;
}

